
.livescore_container{
  background-color: black;
  color:white;
  overflow: hidden;
}
.livescorehead{
  margin-top: 75px;
  
}
.Scorecardbox{
  border: 2px solid grey;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #1a1818;
}

.matchheading{
  font-size: 1.8em;
  font-weight: 600;
}
.matchheading span{
  color: red;
}
.box1{
  width: 100%;
}
.imgbox1 img,.imgbox2 img{
  width: 100px;
  overflow:hidden;
  border-radius: 50%;
}
.box112{
  margin-left: 20px;
}
.box12{
  font-size: 25px;
}
.box131{
  margin-right: 20px;
}
.status{
  font-size: 20px;
}
.vanue{
  font-size: 13px;
}

/* media query */

@media(max-width:768px) and (min-width:576px){
  .Scorecardbox{
    max-width: 90% !important;
    font-size: 15px;
  }
}
@media(max-width:576px){
  .Scorecardbox{
    max-width: 90% !important;
    font-size: 13px;
  }
  .imgbox1 img,.imgbox2 img{
    width: 75px;
  }
  .box12{
    font-size: 14px;
  }
}